<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img id="logo" src="http://www.medyatava.com/uploads/news/e1f22827-666f-4abc-987a-e7b6d75242c9.jpg"
    /><button type="button" class="btn btn-primary">Accomodation</button>
  </a>
  <div class="collapse navbar-collapse" id="navbarColor01">
  <ul class="navbar-nav mr-auto">
  </ul>
  <ul class="nav navbar-nav navbar-right">
          <div class="a">
              <button class="btn btn-primary" type="button" routerLink="/admin">Home</button>
              <div class="dropdown">
                  <button class="btn btn-primary" type="button" >Manage Account</button>
                     <ul class="dropdown-content">
                     <a href="#" routerLink="/managebookings">Manage Bookings</a>
                     <a href="#" routerLink="/manageproperties">Manage Listed Properties</a>
                     <a href="#" routerLink="/managepayments">Manage Payments</a>
                     </ul>
               </div>
              <button type="button" class="btn btn-primary" (click)="logOut()">Log Out</button>
          </div>
  </ul>

  </div>
</nav>
  <div class="container">
    <h2>Registerd Users</h2>
    <p>Below are all the registered users.</p>    
    <div class="table-responsive">                                                                                        
    <table class="table">
      <thead >
        <tr class="bg-primary">
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone No</th>
          <th>Email</th>
          <th>Password</th>
          <th>Type</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of user">
          <td>{{user.id}}</td>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.email}}</td>
          <td>{{user.password}}</td>
          <td>{{user.type}}</td>
          <td><button type="button" class="btn btn-danger" (click)="deleteUser(user)" onClick="window.location.reload" >Delete</button></td>
        </tr>
      </tbody>
    </table>
    </div>
    