
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
      <img id="logo" src="http://www.medyatava.com/uploads/news/e1f22827-666f-4abc-987a-e7b6d75242c9.jpg"/>
    </a>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
        </ul>
    <ul class="nav navbar-nav navbar-right" >
        <div class="a">
            <button type="button" class="btn btn-primary"  (click)="openModal('registration')">Register</button>
            <button type="button" class="btn btn-primary" (click)="openModal('login')" >Sign In</button>
        </div>
    </ul>
    </div>
</nav>

<jw-modal id="login">
    <div class="jw-modal">
       
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="modal-content animate" action="/action_page.php">
    <div class="container">
    <h1>Login</h1>

    <label for="email"><b>Email Address</b></label>
    <input type="email" formControlName="email" placeholder="Enter Email" name="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [(ngModel)]="user.email">
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
    <div *ngIf="f.email.errors.required">Email is required</div>
    </div>

    <label for="psw"><b>Password</b></label>
    <input type="password" formControlName="password" placeholder="Enter Password" name="psw" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" [(ngModel)]="user.password">
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
    <div *ngIf="f.password.errors.required">Password is required</div>
    </div>
        
    <button type="submit" class="btn2" >Login</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="btn btn-danger" (click)="closeModal('login');" >Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
    </form>
    </div>
   
    <div class="jw-modal-background"></div>
</jw-modal>


<jw-modal  id="registration">
      <div class="jw-modal">
      <div class="modal-content animate" action="/action_page.php">
       
      <form (ngSubmit)="createUser1()">
      <div class="container">
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      
      
      <label for="first_name"><b>First Name</b></label>
      <input type="first_name" placeholder="Enter First Name" name="first_name"  [(ngModel)]="user.first_name">
      <div class="col-10" *ngIf="userError?.first_name">
      <span class="text text-danger">{{userError.first_name}}</span>
      </div>

      <label for="last_name"><b>Last Name</b></label>
      <input type="last_name" placeholder="Enter Last Name" name="last_name"  [(ngModel)]="user.last_name">
      <div class="col-10" *ngIf="userError?.last_name">
      <span class="text text-danger">{{userError.last_name}}</span>
      </div>

      <label for="phone_number"><b>Phone Number</b></label>
      <input type="phone_number" placeholder="Enter Phone Number" name="phone_number" [(ngModel)]="user.phone">
      <div class="col-10" *ngIf="userError?.phone">
      <span class="text text-danger">{{userError.phone}}</span>
      </div>

      <label for="email"><b>Email Address</b></label>
      <input type="email" placeholder="Enter Email" name="email" [(ngModel)]="user.email">
      <div class="col-10" *ngIf="userError?.email">
      <span class="text text-danger">{{userError.email}}</span>
      </div>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="user.password">
      <div class="col-10" *ngIf="userError?.password">
      <span class="text text-danger">{{userError.password}}</span>
      </div>
        
    <button type="submit" class="btn2" >Sign Up</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="btn btn-danger" (click)="closeModal('registration');" >Cancel</button>
    </div>
    </form>
    </div>
    </div>
   
<div class="jw-modal-background"></div>
</jw-modal>




