
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
      <img id="logo" src="http://www.medyatava.com/uploads/news/e1f22827-666f-4abc-987a-e7b6d75242c9.jpg"
      /><button type="button" class="btn btn-primary">Accomodation</button>
    </a>
    <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="nav navbar-nav navbar-right">
            <div class="container">
                <button type="button" class="btn btn-primary">List Property</button>
                <button type="button" class="btn btn-primary" (click)=new()>Register</button>
                <button type="button" class="btn btn-primary">Sign In</button>
            </div>
    </ul>

    </div>
  </nav>

