<app-customer-header></app-customer-header>

<div *ngFor="let destinations of destinations; let i=index">
<div class="flightCards">
    <div class="onwardDetails">
      <h1>{{destinations.guest_house_name}}</h1>
      <h4><strong>Number of guests:</strong>{{destinations.guests}} or more</h4>
      <h4><strong>Available rooms:</strong>{{destinations.rooms}}</h4>
      <h4><strong>Property manager:</strong>{{destinations.manager_name}}</h4>
      <h4><strong>Contact details:</strong>{{destinations.contact_details}}</h4>
    </div>
    <div class="booking">
      <img class="bookingImage"  [src]="images[i]" height="150" width="150">
      <button routerLink='/booking'>Make Reservation</button>
    </div>

    </div>

