<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">
        <img id="logo" src="http://www.medyatava.com/uploads/news/e1f22827-666f-4abc-987a-e7b6d75242c9.jpg"
        /><button type="button" class="btn btn-primary">Accomodation</button>
      </a>
      <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="nav navbar-nav navbar-right">
              <div class="a">
                  <button type="button" class="btn btn-primary" routerLink="/listproperty">List Property</button>
                  <div class="dropdown">
                      <button class="btn btn-primary" type="button">Manage Account</button>
                         <ul class="dropdown-content">
                         <a href="#" routerLink="/listbooking">Bookings</a>
                         <a href="#" routerLink="/listpropertydisplay">Listed Properties</a>
                         </ul>
                   </div>
                  <button type="button" class="btn btn-primary" routerLink="/header_layout">Log Out</button>
              </div>
      </ul>
    
      </div>
    </nav>





