
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
      <img id="logo" src="http://www.medyatava.com/uploads/news/e1f22827-666f-4abc-987a-e7b6d75242c9.jpg"
      />
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
    </ul>
      <button class="btn btn-primary" type="button" routerLink="/listproperty">List Property</button>
      <div class="dropdown">
          <button class="btn btn-primary" type="button">My Account</button>
             <ul class="dropdown-content">
             <a href="#" routerLink="/userprofile">Profile</a>
             <a href="#"  routerLink="/listbooking">View Bookings</a>
             <a href="#" routerLink='/listpropertydisplay'>Listed Property</a>
             </ul>
       </div>
       <button class="btn btn-primary" type="button" routerLink='/custlayout'>Home</button>
       <button class="btn btn-primary" type="button" routerLink=''>Log Out</button>
  </div>
</nav>



<bookingdetails></bookingdetails>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
